# Default ignored files
#/.idea/workspace.xml
target/
Digital-Framework.iml

Mobile-Framework/Mobile-Framework.iml
Mobile-Framework/target/
Mobile-Framework/reports/**
Mobile-Framework/resources/.idea
Mobile-Framework/resources/config/config-android.properties
Mobile-Framework/resources/config/config-ios.properties
Mobile-Framework/resources/config/config-vfCash.properties
Mobile-Framework/resources/config/config-credit-cards.properties
Mobile-Framework/resources/config/config-scratch-cards.properties
Mobile-Framework/resources/reports/**

CCAT-Framework/CCAT-Framework.iml
CCAT-Framework/target/
CCAT-Framework/resources/config/ccatConfig.properties
CCAT-Framework/resources/config/ccatCredentialsConfig.properties

Promo-Engine/Promo-Engine.iml
Promo-Engine/target/
Promo-Engine/resources/config/promoEngineCredentialsConfig.properties

Siebel-Framework/resources/config/siebelConfig.properties
Siebel-Framework/Siebel-Framework.iml
Siebel-Framework/target/

Website-Framework/Website-Framework.iml
Website-Framework/resources/config/config-scratch-cards.properties
Website-Framework/resources/config/nt-account.properties
Website-Framework/resources/config/config-credit-cards.properties
Website-Framework/reports
Website-Framework/resources/reports
**.DS_Store
Ana Vodafone.app
.idea
output/
reports/**

**.html
**.7z

Ana-Vodafone-Test.iml